:root {
  --background: #f7f5f1;
  --foreground: #00382c;
  --font-playfair: 'Playfair Display', serif;
  --font-manrope: 'Manrope', sans-serif;
  --font-dancing: 'Dancing Script', cursive;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}